calib:
  data: "pileval"
  num_samples: 128
  seq_length: 1024
  min_length: 0
  max_length: 0
  seed: 42

transform:
  path: ""
  rotate:
    enabled: true
    random: false
    rotate_out: true   
    rotate_down: false 

  reorder:
    enabled: true
    reorder_out: false 
    reorder_down: true 

  smooth:
    enabled: true
    smooth_attn: true  
    smooth_qkv: false  
    smooth_vo: false  
    smooth_ffn: false 
    smooth_down: true 
    alpha: 0.5        

quant:
  path: ""
  weight:
    args:
      bits: 4
      symmetric: false
      strategy: "group"
      group_shapes: [[1, -1], [1, 128]]
      zero_domain: "PostScale"
      intermediate_bits: 8
      observer: "memoryless-minmax"
    mod:
      method: "gptq"
      block_size: 128
      perc_damp: 0.01
  
  input:
    args:
      bits: 8
      symmetric: true
      strategy: "token"
      dynamic: true
      observer: "minmax"
  
  output:
    args:
      bits: 4
      symmetric: false
      strategy: "group"
      group_shapes: [[1, 128]]
      zero_domain: "PostScale"
      dynamic: true
      observer: "minmax"
    mod:
      skips: "q_proj"
