calib:
  data: "pileval"
  num_samples: 128
  seq_length: 2048
  min_length: 2048
  max_length: 0
  seed: 42

quant:
  path: ""
  weight:
    args:
      bits: 4
      strategy: "group"
      group_size: 128
      symmetric: true
      observer: "memoryless-minmax"
    mod:
      method: "rtn"
